
h1 {
    display: inline;
	position: relative;
	font: 80px 'Dancing Script', cursive;
	letter-spacing: -5px;
	color: rgba(0, 0, 0, 0.726); 
}

h1:after {
	content: "Francis nail art";
	position: absolute; left: 5px; top: 5px;
	color: rgba(233, 147, 227, 0.294);   
}

h2 {
	font: 60px 'Dancing Script', cursive;
	padding: 20px;
}

.card-contact {
	padding-top: 5%;
}

.list-group {
	padding: 5%;
}

.card-title {
	color: rgb(177, 9, 79);
	text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255);
}

.card-text {
	color: rgb(177, 9, 79);
	padding: 20px;
	font: 30px 'Dancing Script', cursive;
	text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}

li {
	font: 25px 'Dancing Script', cursive;
	text-align: center;
}

.imgG {
	margin: 10px;

}

.imgG img {
	border-radius: 20%;
	padding: 0px;
	border: 15px rgb(235, 204, 204);
	border-style:outset;
}

.table-responsive {
	padding: 30px;
}

form {
	padding: 30px;
}


